<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-vthunder-index") %>>
                    <a href="/docs/providers/vthunder/index.html">vThunder Provider</a>
                </li>

                <li<%= sidebar_current("docs-vthunder-resource") %>>
                <a href="#">Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-vthunder-resource-ethernet") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_ethernet.html">vthunder_ethernet</a>
                        </li>
                        <li<%= sidebar_current("docs-vthunder-resource-rib-route") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_rib_route.html">vthunder_rib_route</a>
                        </li>
                        <li<%= sidebar_current("docs-vthunder-resource-server") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_server.html">vthunder_server</a>
                        </li>
                        <li<%= sidebar_current("docs-vthunder-resource-service-group") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_service_group.html">vthunder_service_group</a>
                        </li>
                        <li<%= sidebar_current("docs-vthunder-resource-virtual-server") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_virtual_server.html">vthunder_virtual_server</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-configure-sync") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_configure_sync.html">vthunder_configure_sync</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-dns-primary") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_dns_primary.html">vthunder_dns_primary</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-glm") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_glm.html">vthunder_glm</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-import") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_import.html">vthunder_import</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-reboot") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_reboot.html">vthunder_reboot</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-vrrp-common") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_vrrp_common.html">vthunder_vrrp_common</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-vrrp-peer-group") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_vrrp_peer_group.html">vthunder_vrrp_peer_group</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-vrrp-vrid") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_vrrp_vrid.html">vthunder_vrrp_vrid</a>
                        </li>
						 <li<%= sidebar_current("docs-vthunder-resource-vrrp-session-sync") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_vrrp_session_sync.html">vthunder_vrrp_session_sync</a>
                        </li>
                          <li<%= sidebar_current("docs-vthunder-slb-template-client-ssh") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_client_ssh.html">vthunder_slb_template_client_ssh</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-reqmod-icap") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_reqmod_icap.html">vthunder_slb_template_reqmod_icap</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-client-ssl") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_client_ssl.html">vthunder_slb_template_client_ssl</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-respmod-icap") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_respmod_icap.html">vthunder_slb_template_respmod_icap</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-connection-reuse") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_connection_reuse.html">vthunder_slb_template_connection_reuse</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-server-ssh") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_server_ssh.html">vthunder_slb_template_server_ssh</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-csv") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_csv.html">vthunder_slb_template_csv</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-server-ssl") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_server_ssl.html">vthunder_slb_template_server_ssl</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-diameter") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_diameter.html">vthunder_slb_template_diameter</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-snmp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_snmp.html">vthunder_slb_template_snmp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-dynamic-service") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_dynamic_service.html">vthunder_slb_template_dynamic_service</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-ssli") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_ssli.html">vthunder_slb_template_ssli</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-external-service") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_external_service.html">vthunder_slb_template_external_service</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-tcp-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_tcp_proxy.html">vthunder_slb_template_tcp_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-http-policy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_http_policy.html">vthunder_slb_template_http_policy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-virtual-port") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_virtual_port.html">vthunder_slb_template_virtual_port</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-imap-pop3") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_imap_pop3.html">vthunder_slb_template_imap_pop3</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-virtual-server") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_virtual_server.html">vthunder_slb_template_virtual_server</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-logging") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_logging.html">vthunder_slb_template_logging</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-http") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_http.html">vthunder_slb_template_http</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-overlay-tunnel-options") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_overlay_tunnel_options.html">vthunder_overlay_tunnel_options</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-tcp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_tcp.html">vthunder_slb_template_tcp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-server") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_server.html">vthunder_slb_template_server</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-smpp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_smpp.html">vthunder_slb_template_smpp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-cache") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_cache.html">vthunder_slb_template_cache</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-smtp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_smtp.html">vthunder_slb_template_smtp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-port") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_port.html">vthunder_slb_template_port</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-fix") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_fix.html">vthunder_slb_template_fix</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-dblb") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_dblb.html">vthunder_slb_template_dblb</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-cipher") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_cipher.html">vthunder_slb_template_cipher</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-overlay-tunnel-vtep") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_overlay_tunnel_vtep.html">vthunder_overlay_tunnel_vtep</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-dns") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_dns.html">vthunder_slb_template_dns</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-policy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_policy.html">vthunder_slb_template_policy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-monitor") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_monitor.html">vthunder_slb_template_monitor</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-mqtt") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_mqtt.html">vthunder_slb_template_mqtt</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-sip") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_sip.html">vthunder_slb_template_sip</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-udp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_udp.html">vthunder_slb_template_udp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-template-ftp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_template_ftp.html">vthunder_slb_template_ftp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-harmony-controller-profile") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_harmony_controller_profile.html">vthunder_harmony_controller_profile</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-partition") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_partition.html">vthunder_partition</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-common-conn-rate-limit-src-ip") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_common_conn_rate_limit_src_ip.html">vthunder_slb_common_conn_rate_limit_src_ip</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-common") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_common.html">vthunder_slb_common</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-aflow") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_aflow.html">vthunder_slb_aflow</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-dns") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_dns.html">vthunder_slb_dns</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-smtp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_smtp.html">vthunder_slb_smtp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-sip") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_sip.html">vthunder_slb_sip</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-sport-rate-limit") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_sport_rate_limit.html">vthunder_slb_sport_rate_limit</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-transparent-tcp-template") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_transparent_tcp_template.html">vthunder_slb_transparent_tcp_template</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-svm-source-nat") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_svm_source_nat.html">vthunder_slb_svm_source_nat</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-smpp") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_smpp.html">vthunder_slb_smpp</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-spdy-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_spdy_proxy.html">vthunder_slb_spdy_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-switch") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_switch.html">vthunder_slb_switch</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-transparent-acl-template") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_transparent_acl_template.html">vthunder_slb_transparent_acl_template</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-dns-cache") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_dns_cache.html">vthunder_slb_dns_cache</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-dns-response-rate-limiting") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_dns_response_rate_limiting.html">vthunder_slb_dns_response_rate_limiting</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-fast-http-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_fast_http_proxy.html">vthunder_slb_fast_http_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-fix") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_fix.html">vthunder_slb_fix</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-ftp-ctl") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_ftp_ctl.html">vthunder_slb_ftp_ctl</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-ftp-data") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_ftp_data.html">vthunder_slb_ftp_data</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-ftp-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_ftp_proxy.html">vthunder_slb_ftp_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-generic-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_generic_proxy.html">vthunder_slb_generic_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-passthrough") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_passthrough.html">vthunder_slb_passthrough</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-perf") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_perf.html">vthunder_slb_perf</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-rate-limit-log") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_rate_limit_log.html">vthunder_slb_rate_limit_log</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-pop3-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_pop3_proxy.html">vthunder_slb_pop3_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-resource-usage") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_resource_usage.html">vthunder_slb_resource_usage</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-rc-cache-global") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_rc_cache_global.html">vthunder_slb_rc_cache_global</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-player-id-global") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_player_id_global.html">vthunder_slb_player_id_global</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-proxy") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_proxy.html">vthunder_slb_proxy</a>
                        </li>
                         <li<%= sidebar_current("docs-vthunder-slb-persist") %>>
                            <a href="/docs/providers/vthunder/r/vthunder_slb_persist.html">vthunder_slb_persist</a>
                        </li>

                    </ul>
                </li>
                    </ul>
                </li>

        </div>
    <% end %>

    <%= yield %>
<% end %>
